{
    "useTabs": false,
    "tabWidth": 4,
    "trailingComma": "all",
    "semi": true,
    "overrides": [
        {
            "files": "*.html",
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
